/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  background-color: blueviolet;
  font-size: 30px;
  color: white;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(79, 117, 241, 0.984) 0%,
    rgba(93, 9, 121, 1) 100%
  );
}
.jumbotron .btn,
.stock .btn {
  font-size: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border-color: white;
  border-radius: 50px;
}
.test {
  background-color: rgb(243, 243, 243);
  padding: 25px 0px;
}
.t1 {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: 15px;
  text-align: justify;
  background-color: white;
  border-radius: 10px;
}
.stock {
  background-color: rgb(99, 119, 212);
  padding: 25px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
#n1 {
  color: black;
  float: right;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
